apiVersion: apps/v1
kind: Deployment
metadata:
  name: appointment-service
  namespace: healthcare-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: appointment-service
  template:
    metadata:
      labels:
        app: appointment-service
    spec:
      containers:
      - name: appointment-service
        image: mygre/appointment-service:latest  # replace with your built image
        ports:
        - containerPort: 3001
        env:
        - name: ORDER_SERVICE_URL
          value: "http://order-service:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: healthcare-app
spec:
  selector:
    app: appointment-service
  ports:
  - port: 3001
    targetPort: 3001
  type: ClusterIP
